@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudPopoverProvider/>

<div class="page">
  <div class="sidebar">
    <NavMenu/>
  </div>

  <main>
    <div class="top-row px-4">
      <MudButton @onclick="OpenDialogRegister" Variant="Variant.Filled" Color="Color.Primary">
        Novo Registro
      </MudButton>
    </div>

    <article class="content px-4">
      <MudLayout>
        @Body
      </MudLayout>
    </article>
  </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
  An unhandled error has occurred.
  <a href="." class="reload">Reload</a>
  <span class="dismiss">🗙</span>
</div>

@code{
  private void OpenDialogRegister()
  {
    DialogParameters parameters = new DialogParameters();
    DialogOptions options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Large};
    DialogService.Show<DialogRegisterInBook>(title: "", parameters: parameters, options: options);
  }
}
